<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=DESKTOP-25J6H7N\SQLEXPRESS;Initial Catalog=despachovalles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>